@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/eb-garamond/eb-garamond-variable-regular.ttf");
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/eb-garamond/eb-garamond-variable-italic.ttf");
  font-weight: 400 800;
  font-style: italic;
}
