// See https://github.blog/2022-12-02-introducing-mona-sans-and-hubot-sans/

@font-face {
  font-family: 'Hubot Sans';
  src: url('/fonts/hubot/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/hubot/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
