// $blue: #0d6efd;
// $indigo: #6610f2;
// $purple: #6f42c1;
// $pink: #d63384;
// $red: #dc3545;
// $orange: #fd7e14;
// $yellow: #ffc107;
// $green: #198754;
// $teal: #20c997;
// $cyan: #0dcaf0;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1.25;

// https://coolors.co/050517-daa9b5-6369d1-a1c084-34435e
$elton-blue: #94c9a9;
$silver-pink: #c4b1ae;
$cameo-pink: #daa9b5;
$independence: #34435e;
$xiketic: #050517;

$primary: $xiketic;
$secondary: $elton-blue;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-900;
$body-bg: $cameo-pink;

$font-prefix: "/fonts/plex";
@import "~@ibm/plex/scss/mono/index";
@import "~@ibm/plex/scss/sans/index";
@import "~@ibm/plex/scss/serif/index";

// Set the default font family to IBM Plex Sans
$font-family-base: "IBM Plex Serif", "Georgia", Times, serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Adjust font weight down.
$font-weight-base: 400;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-base;
}

.content p,
.content ul,
.content ol {
  margin-bottom: 2.5rem;
}

.content img {
  display: block;

  max-width: 80%;
  margin: 0 auto;

  // Add a margin-bottom of 1.5rem to images.
  margin-bottom: 1.5rem;

  // Add soft drop shadow to images.
  box-shadow: 1em 1em 3rem 0 rgb(0 0 0 / 20%);
}
